@charset "utf-8";

html,body{height: 100%;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: #333;
}

.clearfix:after{
    content:"";display: block;clear: both;
}