@charset "utf-8";
html,body{height: 100%;}
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;

}

/* reset  */
*{margin: 0;padding: 0;box-sizing: border-box;}
a:link,a:visited{text-decoration: none;color:#888} 
.clearfix:after{content:"";display: block;clear: both;}
li{list-style: none;}

.container{width: 980px;margin: 0 auto;}

/* header  */
.top{border-bottom: 1px solid #E3D9D9;margin-bottom: 10px;}
.submenu{float: right;height: 26px;_background: skyblue;}
.submenu li{float: left;}
.submenu li a{
    display: block;
    _height: 26px;
    _background: pink;
    font-size: 12px;
    padding: 0 10px;
    line-height: 26px;
    position: relative;
}
.submenu li a:after{
    content:"";display: block;height: 4px;width: 4px;background: #888;
    position: absolute;left: -2px;;top: 11px;
    border-radius: 50%;
}
.submenu li:first-child a:after{display: none;}

h1.logo{width: 200px;height: 49px;margin: 0 auto;margin-bottom: 10px;}
h1 img{display: block;}

#hd .bottom{background: #1C5DA3;}
#hd .menu li{
    float: left;width: calc( 100% / 6 );
    border-right: 1px solid #336EAC;
}
#hd .menu li:first-child{border-left: 1px solid #336EAC;}
#hd .menu li a{
    display: block;height: 44px;font-size: 16px;color:white;
    text-align: center;line-height: 44px;font-weight:bold;letter-spacing: -0.8px;
}


/* visual  */
.visual{
    /* background: #1B335F; */
    /* background-color: #1B335F;
    background-image: url(../img/visual_bg.jpg);
    background-repeat: no-repeat;
    background-position: center; */
    background: #213969 url(../img/visual_bg.jpg) no-repeat center;
}

.vWrap{position: relative;height: 400px;overflow: hidden;}
.vWrap img{position: absolute;}
.vWrap .img1{
    left: 0;top: 50%;
    margin-top: -123px;
}
.vWrap .img2{
    right: 0;
    top:20px
}