@charset "utf-8";
html,body{height: 100%;}
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;

}

/* reset  */
*{margin: 0;padding: 0;box-sizing: border-box;}
a:link,a:visited{text-decoration: none;color:#888} 
.clearfix:after{content:"";display: block;clear: both;}
li{list-style: none;}
h3{font-size:18px;letter-spacing: -1px;}



.container{width: 980px;margin: 0 auto;}

/* header  */
.top{border-bottom: 1px solid #E3D9D9;margin-bottom: 10px;}
.submenu{float: right;height: 26px;_background: skyblue;}
.submenu li{float: left;}
.submenu li a{
    display: block;
    _height: 26px;
    _background: pink;
    font-size: 12px;
    padding: 0 10px;
    line-height: 26px;
    position: relative;
}
.submenu li a:after{
    content:"";display: block;height: 4px;width: 4px;background: #888;
    position: absolute;left: -2px;;top: 11px;
    border-radius: 50%;
}
.submenu li:first-child a:after{display: none;}

h1.logo{width: 200px;height: 49px;margin: 0 auto;margin-bottom: 10px;}
h1 img{display: block;}

#hd .bottom{background: #1C5DA3;}
#hd .menu li{
    float: left;width: calc( 100% / 6 );
    border-right: 1px solid #336EAC;
}
#hd .menu li:first-child{border-left: 1px solid #336EAC;}
#hd .menu li a{
    display: block;height: 44px;font-size: 16px;color:white;
    text-align: center;line-height: 44px;font-weight:bold;letter-spacing: -0.8px;
}


/* visual  */
.visual{
    /* background: #1B335F; */
    /* background-color: #1B335F;
    background-image: url(../img/visual_bg.jpg);
    background-repeat: no-repeat;
    background-position: center; */
    background: #213969 url(../img/visual_bg.jpg) no-repeat center;
}

.vWrap{position: relative;height: 400px;overflow: hidden;}
.vWrap img{position: absolute;}
.vWrap .img1{
    left: 0;top: 50%;
    margin-top: -123px;
}
.vWrap .img2{
    right: 0;
    top:20px
}

/* banner  */
.bWrapper{
    background: #eee;
    margin-bottom: 50px;
}
.bWrap li{
    width: calc( 100% / 5 );
    float: left;
    color:white;
    text-align: center;
    padding: 20px  0;
}
.bWrap li img{
    display: block;margin: 0 auto;
    margin-bottom: 10px;
}
.bWrap li h3{margin-bottom: 7px;}
.bWrap li:nth-child(1){background: #7C99B9;}
.bWrap li:nth-child(2){background: #4F74A1;}
.bWrap li:nth-child(3){background: #4B8CE0;}
.bWrap li:nth-child(4){background: #3DB5F3;}
.bWrap li:nth-child(5){background: #95C8FF;}


/* job  */
.jobWrap{margin-bottom: 25px;}
.jobWrap div.jobItem{
    float: left;
    width: calc( ( 100% - 50px ) / 3 );
    margin-right: 25px;
}
.jobWrap div.jobItem:last-child{
    margin-right: 0;
}
.jobWrap img{display: block;}
.jobWrap .tWrap{
    padding: 20px 15px;
    border: 1px solid #ddd;
    border-top: 0 none;
}
.jobWrap h3{margin-bottom: 8px;}
.jobWrap p{color:#888}

.con li{
    float: left;
    width: calc( ( 100% - 50px ) / 3 );
    margin-right: 25px;
    border: 1px solid #000;
    position: relative;
    padding: 20px 15px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 130px 10px;
}
.con li:last-child{margin-right: 0;}
.con li .tWrap{width: 200px;position: relative;}
.con li .tWrap h3,
.con li .tWrap p{margin-bottom: 10px;line-height:21px;}
.con li img{position: absolute;right: -20px;top: 10px;}
.con li a{color:blue}