@charset "utf-8";

 /* init  */
*{margin: 0;padding: 0;}
li{list-style:none}
.clear:after{
    content:"";display: block;clear:both;
}


/* body  */
div.wrap{
    width: 1000px;
    margin: 0 auto;
    background-color:skyblue
}
div.wrap > ul > li{
    background-color:pink;
    width: 20%;
    float: left;
    text-align:center;
    line-height: 50px;
}

/* visual  */
.visual{
    height: 300px;
    background-color:skyblue;
}



