@charset "utf-8";

/* init  */
*{margin: 0;padding: 0;}
.clearfix:after{
    content:"";display: block;clear: both;
}
li{list-style: none;}
a:link,a:visited{text-decoration: none;color:black}

/* header  */
